.item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .item-margin {
        margin-left: 4.1rem;
        p{
            font-size: 14px;
        }
        span{
            color: var(--hardGrey);
        }

    }
    .state{
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 5px;
        margin-bottom: 30px;
        .state-circle{
            font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            font-size: 14px;
        }
        .done{
            color: var(--done);
        }
        .pending{
            color: var(--pending)
        }
    }

    .item-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        .expand-icon{
            cursor: pointer;
            color: var(--blue);
        }

        .left-part {
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            h1{
                font-size: 16px;
            }

            .material-symbols-outlined {
                color: var(--grey);
                font-variation-settings:  'wght' 300, 
            }

            .circle {
                z-index: 1;
                color: var(--blue);
                font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
                
                
            }

        }
    }
    
    #bar {
        position: absolute;
        width: 2px;
        background-color: var(--grey);
        max-height: 100%;
        bottom: 3px;
        top: 25px;
        left: 11px;
        z-index: 0;
    }
}